h1 {
    background-color: grey;
    color: yellow;
    flex-grow:4;
}

.menu {
    color: black;
    margin-right: 30px;
    margin-top: -10px;


}

.menu:hover {
    color: red;
}

.nav {
    
    display: flex;
    justify-content: flex-end;
    flex-grow:2;
    background-color: yellow;
    height: 37px
   

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -29px;
    
    


}

h4 {
   
    
    color: gray;
    flex-grow:3.9;
    text-align:right;
    margin-top: 60px;
    background-color: gray;
}

.outro {
    
    padding-top: -800px;
    display: flex;
    margin-top: 780px;
   
    
    

}

.rodape {
    
    flex-grow:4;
    margin-top: 60px;
    background-color:gray;
    height: 18px;
    
    color: yellow;
    justify-content: flex-end;
}

.tamanho {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.cachorrinhos {
    display: flex;
   
    width: 200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.tamanho:hover {
    width: 300px;
    height: 300px;
}

.todososcachorros {
 display: flex;
 margin-top:50;
 flex-grow: 4;
 margin-top: 80px;
 margin-bottom:0px;
}

.fim {
    background-color:yellow;
    flex-grow:2;
    height:20px;
    margin-top:55px;
}

.ultimo {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

@media (max-width: 252px){.todososcachorros {
     width:200px;
     height:2400px;
     display: flex;
     flex-direction: column;
}
.container{
    width:200px;
    height:300px;
    display: flex;
    flex-direction: column;

}
.nav{
    display: flex;
    flex-direction: column;
    margin-bottom:0px;
    padding-top: -30px;
}

h1 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom:0px;

}

}